body {
  height: 100vh;

}
#root {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

#ball-container {
  box-sizing: content-box;
  border: black solid 1rem;
  position: relative;
  border-radius: 5%;
  transition: border-color 0.3s ease-in-out;
  background: linear-gradient(var(--secondary-light), var(--neutral));
  animation: rainbow 10s infinite ease-in-out;
  width: 60%;
  height: 50%;
  box-shadow: #0a0a0a 0 10px 30px;

}


#ball {
  background: linear-gradient(var(--primary-dark), var(--secondary-light));
  position: absolute;
  /*box-shadow: 0 10px 5px;*/
  border-radius: 100%;
  transition: background 0.3s ease-in-out;
  cursor: pointer;
}

#ball:hover {
  background: var(--primary-dark);
}
.guide{
  font-size: 1.2rem;
  padding: 0.5rem;
}
#header{
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#input-speed-range{
  /*width: 20rem;*/
  cursor: pointer;
  width: 100%;
}
#ball:active {
  background-color: blue;
}

#stats {
  top: 50%;
  left: 50%;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  background-color: rgba(213, 199, 188, 0.48);
  width: 8rem;
  user-select: none;
  -webkit-user-select: none;
  transform: translate(-50%, -50%);
}
@media (max-width: 678px) {
  #ball-container{
    width: 80% ;
    height: 60%;
  }
  #header{
    padding: 1rem;
  }

}
