body {
  height: 100vh;
}
#root {
  height: 100%;
}
@keyframes borderBlinking {
  0% {
    border-color: red;
  }
  50% {
    border-color: hotpink;
  }
  100% {
    border-color: firebrick;
  }
}
#ball-container {
  box-sizing: content-box;
  border: black solid 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*animation: borderBlinking 0.5s infinite ease-in-out;*/
}
#ball {
  background-color: var(--primary-light);
  position: absolute;
  border-radius: 100%;
}

#ball:hover {
  background-color: red;
}

#ball:active {
  background-color: blue;
}
#stats {
  top: 50%;
  left: 50%;
  padding: 1rem;
  position: absolute;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  transform: translate(-50%, -50%);
}
