body {
  display: flex;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}
#root {
  flex: 1;
}

#app-title {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(rgb(252, 249, 249), #f8f8f8);
  font-weight: normal;
}

#now-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  color: #eed0d0;
  font-size: 2rem;
  background-color: #785964;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-right: 1px #d7c1c1 solid;
  border-left: 1px #d7c1c1 solid;
  font-size: 16px;
  background: linear-gradient(rgb(252, 249, 249), #f8f8f8);
  cursor: pointer;
}

table td {
  padding: 1rem;
  border: 1px #d7c1c1 solid;
  border-right: none;
  border-left: none;
  text-align: center;
}

thead tr td {
  font-size: 1.2rem;
  font-weight: bold;
  border-right: 1px #d7c1c1 solid;
  border-left: 1px #d7c1c1 solid;
}
.td-weekday {
  font-size: 1.5rem;
  vertical-align: center;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  border-right: 1px #d7c1c1 solid !important;
  transition: background-color 0.1s;
}

table tbody tr:nth-child(7n) td:nth-child(n + 1) {
  border-bottom: none;
}

table tbody tr:nth-child(7n-5) td:nth-child(n + 1) {
  border-top: none;
}

table tbody tr:nth-child(7n) {
  border-bottom: 1.5px solid #d09c97;
}

table tr:not(thead tr):hover,
thead td:hover {
  background-color: #eee3e8;
}
