/************ General **********/

:root {
  --grey-1: #333434;
  --grey-2: #202020;
  --grey-3: #0a0a0a;
  --blue: #0d75bf;
  --white: #e5e5e5;
  --grey-0: #6e6c6c;
  font-size: 16px;
  color: var(--white);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Zapf Dingbats", sans-serif;
  background-color: black;
}

#root {
  color: var(--white);
  display: flex;
  flex-direction: column;
  background-color: var(--grey-1);
}

/********* App head **********/

#ah-buttons {
  display: flex;
  background-color: transparent;
}

#ah-buttons * {
  border: none;
  color: var(--white);
  background-color: transparent;
}

#app-head {
  display: flex;
  justify-content: space-between;
  user-select: none;
}

#ah-title-icon {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 1rem;
}

#icon-stripes {
  user-select: none;
}

#icon-clock {
  padding-right: 0.5rem;
  user-select: none;
  transition: transform 0.3s;
}

#icon-clock:hover {
  transform: scale(1.2);
}

#app-head #ah-buttons * {
  padding: 0.5rem;
  width: 3rem;
  cursor: pointer;
}

#ah-close:hover {
  background-color: red;
}

#ah-tray:hover {
  background-color: var(--grey-0);
}

#ah-full:hover {
  background-color: var(--grey-0);
}

#app-body {
  display: flex;
}

#calculator-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/********** History *********/

#history-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  max-width: 0;
  transition: max-width 0.5s;
  overflow: hidden;
}

.hc-visible {
  max-width: 30% !important;
}

#clear-history-container {
  display: flex;
  padding: 1rem;
}

#clear-history {
  cursor: pointer;
  transition: transform 0.3s;
}

#clear-history:hover {
  transform: scale(1.2);
}

#history-title {
  width: min-content;
  color: var(--white);
  text-align: left;
  padding-bottom: 0.5rem;
  border-bottom: var(--blue) 2px solid;
  cursor: pointer;
}

.history-entry {
  cursor: pointer;
  text-align: right;
  padding: 0.3rem;
  width: 100%;
}

.history-entry:hover {
  color: var(--white);
}

#history-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--grey-0);
  flex: 1;
  padding: 1rem;
  overflow: scroll;
}

@media (max-width: 800px) {
  #history-container {
    width: 90%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(57, 57, 58, 0.97);
    position: absolute;
    overflow: scroll;
  }
  .hc-visible {
    max-width: 90% !important;
  }

  #history-title {
    color: var(--white);
    padding: 1rem;
    font-size: 1.5rem;
  }
  #history-list {
    width: auto;
    max-height: 20rem;
    color: var(--white);
    overflow: scroll;
  }
}

/********** Numerical types **********/
#type-selection-history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

#type-selection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#history-toggle-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/********** App calculations display **********/

#app-calculations {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1rem;
  padding: 1rem 1rem;
}
#expression {
  font-size: 1rem;
  white-space: pre-wrap;
  height: 1.5rem;
  /*padding: 1rem;*/
}

#expression::after {
  content: " ";
}

#number {
  font-size: 2.5rem;
}

/*********** Numerical System Selection **********/

#ns-select-container {
  user-select: none;
  display: flex;
  flex-direction: column;
}

.ns-select-choice {
  display: flex;
  padding: 0.25rem 1rem;
  width: 5rem;
  gap: 1rem;
  border-left: transparent 5px solid;
  cursor: pointer;
}
.ns-button {
  width: 2rem;
}

/********** Random settings **********/

#random-settings {
  display: flex;
  justify-content: space-around;
  /*align-items: center;*/
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.3rem 0;
  user-select: none;
}

.random-setting {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 4px solid transparent;
}

/********** Calculator display **********/

#buttons-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.display-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(1rem, 9.5vh, 20rem);
  color: var(--white);
  background-color: #090909;
  border: var(--grey-1) solid 1px;
  border-radius: 0.25rem;
  user-select: none;
  flex: 1;
  font-size: 2rem;
  cursor: pointer;
}

.dp-disabled {
  color: #343436;
  pointer-events: none;
}

.com {
  background-color: #1e1e20;
}
#binary-op {
  position: absolute;
  top: 100px;
  display: none;
}
.active {
  display: flex !important;
}

#binary-op div {
  font-size: 1rem;
  height: auto;
  padding: 0.5rem;
}

@media (min-width: 800px) {
  .display-button:hover {
    background-color: var(--blue);
  }
}
