body {
    height: 100vh;

}

#root {
    --primary-dark: rgb(238, 77, 77); /* Define primary dark color */
    --secondary-light: #bad3b2; /* Define secondary light color */
    --neutral: #8cade4; /* Define neutral color */
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

#ball-container {
    box-sizing: content-box;
    border: black solid 5px;
    position: relative;
    border-radius: 5%;
    transition: border-color 0.3s ease-in-out;
    background: linear-gradient(var(--secondary-light), var(--neutral));
    animation: rainbow 10s infinite ease-in-out;
    box-shadow: #0a0a0a 0 10px 30px;

}


#ball {
    box-sizing: border-box;
    background: var(--primary-dark);
    position: absolute;
    /*box-shadow: 0 10px 5px;*/
    border-radius: 100%;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}

#ball:hover {
    background: var(--primary-dark);
}

.guide {
    font-size: 1.2rem;
    padding: 0.5rem;
}

#header {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#input-speed-range {
    /*width: 20rem;*/
    cursor: pointer;
    width: 100%;
}

#ball:active {
    background-color: blue;
}

#stats {
    top: 50%;
    left: 50%;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    background-color: rgba(213, 199, 188, 0.48);
    width: 12rem;
    user-select: none;
    -webkit-user-select: none;
    transform: translate(-50%, -50%);
}

@media (max-width: 678px) {
    #ball-container {
        width: 80%;
        height: 60%;
    }

    #header {
        padding: 1rem;
    }

}
